[2017-01-26 09:34] lahmatiy opened #1 "Webpack 2 support"
Webpack 2 is out. Plugin should be update to work with new version well.
This is a cumulative issue to track status about updates for Webpack 2.

[2017-02-10 14:40] Tom910 opened #2 "Error Maximum call stack size exceeded"
When assembling error. In the project about 5000 modules
Webpack 2.1.0-beta.27

[code]

[2017-02-10 14:44] Tom910 commented on #2
Reduce the number of modules is now another error

[code]

[2017-02-10 14:49] smelukov commented on #2
Thanks for your report.
We are working on it.

[2017-02-10 15:17] Tom910 commented on #2
If you need any more information or the debug. Write me please

[2017-02-10 15:42] smelukov commented on #2
I've pushed an update.
Can you update webpack-runtime-analyzer to alpha4 and check to problem?

[2017-02-10 18:19] Tom910 commented on #2
If many modules, the error is the same as it was 'Maximum call stack size exceeded

If little modules, is a new bug
[code]

[2017-02-10 18:20] Tom910 commented on #2
By mistake, there is no compatibility even with Webpack2

[2017-02-10 18:44] smelukov commented on #2
Yes, it seems like the plugin is not working correctly with some webpack2-builds.
Thanks for report and call stack.
I'll investigate it.

[2017-02-17 23:29] smelukov commented on #2
@Tom910 Hi! I've pushed an update - 1.0.0-alpha5
Please update webpack-runtime-analyzer

[2017-02-17 23:45] smelukov commented on #1
Added webpack2 support in 6d8ff1a

[2017-02-18 07:49] Tom910 commented on #2
Thanks, now works.

Graph not usable http://imgur.com/a/ULDQT

[2017-02-18 07:49] #2 closed

[2017-02-18 10:09] smelukov commented on #2
@Tom910 great! Thanks for issue.
Oh... realy... graph is not usable for big project... I'll improve it in feature releases

[2017-02-18 11:29] lahmatiy commented on #1
Thank you!

[2017-02-18 11:29] #1 closed

[2017-02-18 11:51] Tom910 commented on #2
@smelukov maybe necessary hide node_modules modules. React creates a lot of links

[2017-02-18 12:45] lahmatiy commented on #2
I think, hiding of node_modules is not a good solution. Aggregation lib modules in one node looks better approach (so all React modules will represent as single node).

[2017-02-18 12:53] smelukov opened #3 "Graph improvements"
- find more fast graph renderer than d3
- viewport zooming
- viewport dragging

[2017-02-18 12:57] Tom910 commented on #2
@lahmatiy Then it will be that ~70%+ of the modules are connected with one point. But it will be better than it is now)
Or do as the option to hide and show node_modules

[2017-02-18 13:05] smelukov opened #4 "Add rempl server to plugin for simplify integration"
- add rempl server to plugin deps
- start rempl server when building is starting
- add plugin options for disallow to start rempl server or override rempl server config
- add plugin option for auto-open UI after building is started

[2017-02-18 13:48] lahmatiy commented on #2
Yeah, we should try both options.

[2017-02-18 18:15] smelukov commented on #2
Great ideas! Working on it...

[2017-03-02 09:15] smelukov opened #5 "Find way to hide node_modules files from list/graph/map"
In the big projects, module list/graph/map is not usable because of huge amount of modules. `node_modules` is the biggest part of it.
Need to find the way to hide these modules.

[2017-03-02 09:15] smelukov commented on #5
Resolved in 575220c

[2017-03-02 15:11] smelukov opened #7 "Render modules list as Tree instead of List"
- [ ] render as tree
- [ ] filtering

[2017-03-02 20:33] #5 closed

[2017-03-02 21:11] smelukov commented on #2
The problem with non-usable graph was solved in 1.0 release ;)

[2017-03-03 13:33] Tom910 opened #8 "Add possibility to activate the plugin not only in watch-mode"
Не происходит коннект к rempl серверам. В Webpack 2.0 по всей видимости выпилили раннер compiler.plugin('watch-run') и код в этом блоке никогда не выполнится. Но, даже если удалить этот враппер, то происходит коннект к rempl серверам но данные не передаются. Происходи
[code]
на 91% происходит дисконект. И в итоге в rempl не попадают данные

[2017-03-03 13:37] smelukov commented on #8
Нет, `watch-run` на месте - https://github.com/webpack/webpack/blob/479a0a4b7b22ed9c65c2f3c472a1be56db5ee0f0/lib/Compiler.js#L43
Плагин в 90% случаев тестировался именно на webpack 2 и rempl-cli 1.0.4
А какая у вас версия rempl-cli ?

[2017-03-03 13:48] Tom910 commented on #8
Версия - 1.0.6. 1.0.4 уже не получится поставить нормально, так как там изменили пути в под зависимостях и стоят ^

Но понял в чем проблема, watch-run это только для дев режима с отслеживанием изменений файлов. А если запускать в прод режиме, эта команда не выполнится. Мне кажется. стоит добавить режим, что бы работал плагин и для прод режима со всеми оптимизациями. Так как разделение на чанки и о

[2017-03-03 13:55] smelukov commented on #8
Да, плагин активизируется только в watch-режиме.
Это связано с тем, что задача обычно режима (не watch) - просто скомпилировать бандл и завершить процесс.
Если активировать плагин в обычном режиме, то процесс сборки  будет висеть бесконечно, пока его не убьешь вручную (например через `ctrl+c`).
Возможно стоит добавить параметр в настройки... что-то типа `onlyWatchMode`

[2017-03-03 13:58] smelukov commented on #8
Кстати, rempl-cli был только что обновлен до 1.0.7
Попробуйте

[2017-03-03 13:58] Tom910 commented on #8
Да, наверное лучше так сделать. webpack-bundle-analyzer тоже не дает завершиться сборки

[2017-03-03 14:00] smelukov commented on #8
Сделаем ;)

[2017-03-03 14:44] #8 closed

[2017-03-03 14:47] smelukov commented on #8
Опция `onlyWatchMode` добавлена в релиз 1.0.1
По умолчанию `onlyWatchMode=true`

[2017-03-14 14:14] 4muzar opened #9 "Error: loaderUtils.parseQuery is not a function"
Plugin crashes when used new version of `"loader-utils"`(e.g. `1.0.3`)

Stack trace
[code]

[2017-03-14 14:26] smelukov commented on #9
Thanks! I'll fix it

[2017-03-15 13:14] #9 closed

[2017-03-15 13:15] smelukov commented on #9
Fixed.
Will be included in the near release

[2017-03-16 10:08] #3 closed

[2017-03-24 16:04] smelukov opened #11 "New tree map"
Integrate foam tree

[2017-03-24 19:30] #11 closed

[2017-03-25 00:45] smelukov commented on #4
closed by 459ac1b

[2017-03-25 00:45] #4 closed

[2017-04-03 11:44] aziz commented on #7
- [ ] Sort details table list by Occurrences or Size

[2017-04-03 12:21] smelukov commented on #7
@aziz good idea! Thanks!

[2017-04-03 15:53] smelukov opened #12 "Table sorting"
Add possibility to sort all modules table

[2017-04-08 13:06] GarrisonD opened #13 "Trouble with launching"
Hi! I have some troubles with using your module.

I am using the latest version `1.4.1` of your library and `webpack 2.3.3` and next plugin configuration:

[code]

And I see such errors in console:

[code]

Do you have any ideas? 🙂

[2017-04-08 19:16] smelukov commented on #13
Hi! Can't reproduce it (
Which versions of `npm` and `node` do you use?
Can you exec `cat node_modules/rempl/package.json` from your project root and show the result?

[2017-04-08 19:28] smelukov commented on #13
Also, you can exec:
[code]
And try to start a building again

[2017-04-08 19:40] GarrisonD commented on #13
[code]

[2017-04-08 19:41] GarrisonD commented on #13
[code]
[code]

[2017-04-08 19:52] GarrisonD commented on #13
Sorry, there was a trouble with Yarn. After reinstalling deps with `npm` everything works fine. 😉

[2017-04-08 19:52] #13 closed

[2017-04-08 20:51] smelukov commented on #13
Yes, yarn may have some problems with installing some packages ;)

[2017-04-08 20:52] smelukov commented on #13
As you see, yarn installed rempl alpha 9 instead of 14

[2017-04-25 10:07] Graf009 opened #14 "Неправильно строиться File Map"
http://prntscr.com/f0km6f

ОС: Windows 10
Может есть какие-то настройки?
Использую так:
`new RuntimeAnalyzerPlugin({
  mode: 'standalone',
  port: 0,
  open: true,
  watchModeOnly: false
})`

[2017-04-25 12:09] smelukov commented on #14
Спасибо за issue, перепроверку обработку путей на Windows

[2017-04-27 12:37] iAdramelk opened #15 "Extended package display support"
Hi. Thank you for the great lib, it allows me to have a lot more understanding about inner workings of dependency graph.

But right now all dependency graph analysis is based on per file basis, while I mostly use on per package basis. My most common usecases are:

1. Find why some library, e.g. `underscore` was included in the bundle (usually it was required by another package). Underscore can als

[2017-04-27 12:53] iAdramelk opened #16 "Additional table controls"
It will be cool to have some minor improvements to table view in Details:

1. Ability to sort by columns will help a lot.
2. Move total size counter to the top of the table: The more dependencies file the more important this number is, but right now if file have a lot of dependencies, you need to scroll page to see it.

[2017-04-27 13:03] iAdramelk opened #17 "File Map and Graph improvements"
File Map and Graph views are cool, but without ability to go to the file in the Details view they are not very useful.

Basically right now I can see in File Map that my bundle includes `underscore`, but there is no easy way to understand why is it included. I need to go to Details, find all `underscore` files bundle, somehow find which if these files was required in my bundle (because underscore

[2017-04-27 13:15] iAdramelk opened #18 "Polyfill warning"
One more exotic usecase. By default than Webpack see some node variables in code. For example `process.env`, it will try to polyfill it and add polyfills to the bundle. This is not always intended:

For example React uses process.env to remove code unused in production, but if somebody forget to supply it to DefinePlugin (which replaces strings in bundle code), bundle will become larger and slower

[2017-04-27 13:52] restrry commented on #17
I don't know should I create separate issue or the current one could be used as umbrella. My notice about wrong file size in File Map. ie, for react it shows next:
![2017-04-27_15-44-43](https://cloud.githubusercontent.com/assets/3198181/25486160/8b0481fc-2b60-11e7-806d-357c0ce267f2.png)

`webpack-bundle-analyzer` doesn't use stat, but its own calculating mechanism
https://github.com/th0r/webpack-

[2017-04-27 14:03] smelukov commented on #17
@restrry I'll investigate it
@iAdramelk, @restrry thanks

[2017-04-27 14:33] iAdramelk opened #19 "Show compiled module code"
After you run webpack, it will create bundle file. In that bundle each original file will be represented as an entry to array (or object if you use plugin for named modules).

This code will have some transformations. For example DefinePlugin with the following settings:

[code]

Will replace following code:

[code]

With this code:

[code]

Point of interest here is `if (false)` and `require('mod

[2017-04-27 16:34] #14 closed

[2017-05-20 00:18] #16 closed

[2017-05-20 00:28] smelukov commented on #12
fixed in c979836

[2017-05-20 00:28] #12 closed

[2017-08-14 19:07] VsevolodTrofimov opened #20 "Show which chunk file \ module belongs to"
This can be shown either by coloring nodes in dependecy graph or in the details tab

If you are intrested I will work on PR with this (assuming it's possible)

[2017-08-14 20:20] smelukov commented on #20
Hi! Can you describe any use case in which this feature will be useful?

[2017-08-14 21:21] VsevolodTrofimov commented on #20
Sure,
When async chuks are being used for code splitting webpack tends to act very curious (in my case putting shared async dependencies in entrypoint chunk), other people struggle with code duplication while using them, it varies depending on webpack version. And this behaviour is poorly documentend.

This feature will make debugging this cases way easier and might provide useful insights on how

[2017-08-17 23:03] ocie commented on #17
It looks like to me the size is ignoring the KB/MB. For example, I have a library that shows up as 980 bytes in the file map, but in the file listing under "home", it is listed as 980 KB.

[2017-08-29 15:14] SeanSilke opened #22 "Is webpack 3 supporter ?"
The documentation stands "Webpack 1.x/2.x plugin" does it means that version 3 is not supported?
Is there plans to support 3 version?

[2017-08-29 15:24] smelukov commented on #22
WRA not tested with Webpack 3 yet.
Feel free to use WRA with Webpack 3.
Just let me know if something is not working properly.

[2018-03-25 10:30] ramonrf commented on #22
I got this error on a Webpack 3 setup

<img width="180" alt="screen shot 2018-03-25 at 4 28 52 am" src="https://user-images.githubusercontent.com/6119839/37874103-26da1158-2fe5-11e8-9908-c7c296407003.png">

[2018-04-13 14:54] StepinPV opened #25 "Does not support webpack 4"
Hi! When i try to build a project with using webpack 4, build fails with an exception:

emitting/Users/pvstepin/dev/avito-mobile-site/node_modules/webpack/lib/Chunk.js:446
throw new Error("Chunk.parents: Use ChunkGroup.getParents() instead");
^

Error: Chunk.parents: Use ChunkGroup.getParents() instead
at Chunk.get (/Users/pvstepin/dev/avito-mobile-site/node_modules/webpack/lib/Chunk.js:446:9)
at

[2018-07-28 23:55] popbee commented on #22
With Webpack 3, can work aroudn the connection lost (just refresh the page). But while running, I get the following error which stops webpack completely:
[code]

[2019-03-21 10:22] LucaColonnello opened #26 "Alpha pre-release to test"
Hello!!! 👋
I've been looking for a similar tool from months now, when I found this I was soooo happy!
Specifically the Details view, telling you each file size with his deps and their weight.

Unfortunately it does not yet work with Webpack v4, but I can see you're working on it, which is great!

Is it possible to have a `@next` release to test it on my project?
I'd love to try it out, even if it'

[2019-03-22 15:26] smelukov commented on #26
Hello! Sure, I've published `webpack-runtime-analyzer@next` package.
Thanks for your feedback!

[2019-03-25 10:30] LucaColonnello commented on #26
Amazing, will try it ASAP, thanks for being so reactive on this! :)

[2019-03-25 16:32] LucaColonnello commented on #26
I tried it this morning in standalone mode and nothing showed unfortunately. I have a multi-compiler webpack config, using webpack 4.
Any clue on what this could be?

[2020-10-29 10:57] smelukov commented on #26
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 10:57] #26 closed

[2020-10-29 10:57] smelukov commented on #25
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 10:57] #25 closed

[2020-10-29 10:57] smelukov commented on #22
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 10:57] #22 closed

[2020-10-29 10:58] smelukov commented on #20
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 10:58] #20 closed

[2020-10-29 11:00] smelukov commented on #15
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 11:00] #15 closed

[2020-10-29 11:00] smelukov commented on #7
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-29 11:00] #7 closed

[2020-10-29 11:27] SuperOleg39 opened #27 "Incorrect parsing of module name with absolute path"
Hi!

UI show the same css modules imports as copy, when module `name` have loaders in path, example with name:

[code]

and with normal name:

[code]

UI screenshot:

![b0b05b55-f3c6-4508-b2fa-c13140891786](https://user-images.githubusercontent.com/15360667/97561808-c356f200-19f1-11eb-9814-ce02ceb23f54.jpeg)

[2020-10-29 14:43] smelukov commented on #27
Fixed by 4a23779e0a2478e657a124ced074eaeab3ef9197
Please, try it on https://statoscope.tech/

[2020-10-29 14:43] #27 closed

[2020-10-30 13:06] smelukov commented on #17
Now we have a brand new analyzer in this repo, please check this out 😀

[2020-10-30 13:06] #17 closed

[2020-10-30 16:07] iAdramelk commented on #17
Cool! Will give it a go!

[2020-12-01 19:12] shanmukh15 opened #28 "Statoscope as webpack plugin"
Hi,

I am trying out statoscope@ 3.1.0 for one of my project on webpack 5. When i tried to add the two import statements and added the init to plugins of webpack config. During webpack build, it keeps throwing me window is not defined.

[2020-12-01 20:10] smelukov commented on #28
Hi! Statoscope does not have webpack plugin for now. It's just a UI to display stats.
To init the UI, you may create a JS file with the content:
[code]
And insert it into any HTML page.

I think I'll add webpack plugin in the next release 🤔

[2020-12-03 13:20] budarin opened #29 "Error during stats analysis"
![image](https://user-images.githubusercontent.com/8055157/101023028-3f110500-3583-11eb-8c07-5472d9b6e2f2.png)

[2020-12-03 15:45] smelukov commented on #29
Can you provide a page and stats example to reproduce the error?

[2020-12-03 20:25] budarin commented on #29
How canI share stats.json? It's quite big

[2020-12-03 21:23] smelukov commented on #29
You can zip it and attach to this issue
Also you can create a stats without sources, just disable it in your webpack config:
stats: { all: true, source: false }

[2020-12-03 22:35] budarin commented on #29
[stats.json.zip](https://github.com/smelukov/statoscope/files/5639331/stats.json.zip)

[2020-12-04 08:26] smelukov commented on #29
Seems like all is ok (I can't reproduce it) 🤔
Which browser (Name + version) do you use?

[2020-12-04 15:15] budarin commented on #29
Chrome 86.0.4240.198 Windows
The same is on Mac Book

[2020-12-10 05:04] hikerpig opened #30 "Is it possible to host the web ui in my local machine ?"
I think it would be better to include a demo folder in the source code, and a script like `npm run start-demo` to run web application locally. Because people may have concerns of uploading sensitive project stats data.

I dug into the codebase and found my way of creating an 'index.html' file and call `Statoscope.default(data)` (yep without webpack).

[2020-12-10 06:52] smelukov commented on #30
Hi! Yep, In the near release, I plan to implement a webpack plugin to start Statoscope locally

[2020-12-10 06:58] hikerpig commented on #30
Nice move 🙌. I am picturing something like `webpack-bundle-analyzer` that gernates a report html and open it automatically. Just my two cents.
Looking forward to it.

[2020-12-10 07:03] smelukov commented on #30
👍🏻

[2020-12-11 16:34] smelukov commented on #30
Solved in [3.2.0](https://github.com/smelukov/statoscope/blob/master/packages/ui-webpack/CHANGELOG.md#320-11-december-2020)

[2020-12-11 16:34] #30 closed

[2020-12-11 16:34] smelukov commented on #28
Solved in [3.2.0](https://github.com/smelukov/statoscope/blob/master/packages/ui-webpack/CHANGELOG.md#320-11-december-2020)

[2020-12-11 16:34] #28 closed

[2020-12-13 16:20] budarin commented on #30
@smelukov

the error is still present
[code]
`e` is FileList so it doesn't have `map` property

[2020-12-13 16:26] smelukov commented on #30
@budarin are you about [this](https://github.com/smelukov/statoscope/issues/29) issue?

[2020-12-13 16:31] smelukov commented on #29
@budarin can you check now?

[2020-12-13 16:42] budarin commented on #30
Yes, I mixed up the issue :)

[2020-12-13 16:44] budarin commented on #29
What does it means `deopts` ?
![image](https://user-images.githubusercontent.com/8055157/102018001-8bc2c000-3d7b-11eb-9f90-57c639af9c6c.png)

[2020-12-13 16:50] budarin commented on #29
the error is still present

class l {
        constructor(e) {
            this.readers = e.map(e=>{
                const t = new s(e);
                return t.eventProgress.on((e,{total: t, loaded: n, chunkSize: r})=>{
                    this.loadedBytes += r,
                    this.eventProgress.emit(this, {
                        total: this.totalBytes,
                        loaded: thi

[2020-12-13 17:03] smelukov commented on #29
Please, ask the question on [Discussions](https://github.com/smelukov/statoscope/discussions/33) page

[2020-12-13 17:05] smelukov commented on #29
I've updated https://statoscope.tech/ to normalize FileList to array

[2020-12-13 17:05] budarin commented on #29
Ок

[2020-12-15 09:00] smelukov commented on #29
Is the problem still actual?

[2020-12-15 11:51] #29 closed

[2020-12-16 20:40] budarin opened #36 "To display the number of filtered items"
sometimes, with a large number of modules, you want to be able to compare them with another list in length

[2020-12-23 12:18] hikerpig opened #37 "Show interactive module dependency graph"
Often I want to analyze and visualize module dependencies in a project. And I also have the need of interactively exploring that graph, for example I want to query and select matched module, and expect to see the graph changes its focused nodes to the selected modules.

[webpack analyze](http://webpack.github.io/analyse) has something very close to what I expect, with only the absence of interacti

[2020-12-24 18:43] smelukov commented on #37
Hi! What kind of query do you want to do? Just module resource?

[2020-12-24 18:45] smelukov commented on #37
@la

[2020-12-24 18:46] smelukov commented on #37
@lahmatiy Can you please answer to this part of the question?

[2020-12-25 02:12] hikerpig commented on #37
Yes, modules and packages. So I will be able to cut unreasonable dependency chains and figure out a better structure.

[2021-02-19 19:31] ewnd9 opened #41 "`element` argument isn't used in browser entry"
So it always renders to document.body

![image](https://user-images.githubusercontent.com/1713789/108552239-14248a80-7302-11eb-93a9-2d730bd2642e.png)

---

Edit: for the context, I've been successfully using `v2.2.0` embedded inside an internal dev portal (with bundle stats fetched in runtime), so it's very neat to be able to mount it anywhere in the page instead of being forced to use separate em

[2021-02-19 21:37] #41 closed

[2021-03-11 09:04] smelukov opened #46 "Show size of chunk file"
In the chunk item, now we have [only parsed size](https://github.com/smelukov/statoscope/blob/e349e2456cacb17671fbc038cb8295bc35543825/packages/ui-webpack/src/views/chunk-item.js#L37).
But we need filesize too, we can make it with `chunk.files.size.reduce(=> $ + $$, 0).formatSize()`
Just add a new badge with chunk files size or use single badge with content (for parsed size) and postfix (for files

[2021-03-13 09:32] #46 closed

[2021-03-17 14:22] victor-homyakov opened #48 "Start page should have the information about the stats flags"
When my project has custom configuration and build scripts, I simply cannot  run `webpack --json > stats.json`. I just need to know which flags to enable. But it's hard to find this information (btw it's here: https://github.com/smelukov/statoscope/tree/master/packages/ui-webpack#which-stats-flags-statoscope-use).

I'd like to see a short list of needed stats flags (or a link to the doc) right on

[2021-03-18 16:51] smelukov commented on #48
Done.
Thanks for the issue!

<img src="https://user-images.githubusercontent.com/6654581/111664760-28857580-8823-11eb-85bc-e5ef5ac1f080.png" width="400">

[2021-03-18 16:51] #48 closed

[2021-03-18 20:13] budarin opened #49 "Statoscope plugin for Workbox"
Here is the issue to the Workbox project https://github.com/GoogleChrome/workbox/issues/2785

is the Statoscope compatible with child compilations?

Demo [project](https://github.com/budarin/statoscope-for-workbox/tree/master)

[2021-03-20 12:35] smelukov commented on #49
Now statoscope ignores child compilations
I'll add support of child compilations

[2021-03-23 16:54] smelukov commented on #49
Closed by v4.0.0

[2021-03-23 16:54] #49 closed

[2021-04-23 20:40] SimulatedGREG opened #51 "[Request]: Use as a CLI Utility or Node API"
Similar to `webpack-bundle-analyzer`'s setup https://github.com/webpack-contrib/webpack-bundle-analyzer#usage-as-a-cli-utility, would it be possible to setup the same functionality here?

The closest thing I can do to achieve this is to setup a bare webpack configuration, add the statoscope plugin and pass in my stat files via the `additionalStats` option.

It would be fantastic if there was a CLI

[2021-05-04 14:19] avdotion opened #53 "Tagged modules"
When Statoscope is able to construct its own format of webpack-like stats, it will be appropriate to put meta tags on modules, so that you can then see them in a convenient interface.

For example, imagine a task in which you need to move modules from one chunk to another by condition. The standard stats format does not allow you to remember this transition: however, you can try to create a separa

[2021-05-19 15:13] vire opened #57 "[Doc] Document how to diff two stats json files"
I saw the `diff` two stats feature already exists but I'm not sure how to use it properly.

[2021-05-20 11:46] smelukov commented on #57
Hi! You can just drop multiple stats to https://statoscope.tech and press the `Diff` button
Or, if you're using the webpack plugin, then use [additionalStats](https://github.com/smelukov/statoscope/tree/master/packages/ui-webpack#optionsadditionalstats-string) property

[2021-05-26 13:05] #57 closed

[2021-05-26 13:06] avdotion opened #59 "Comparison with a current"
In one of the previous issues, it was suggested to document how to run comparison feature (https://github.com/smelukov/statoscope/issues/57). It is a question about where to find it, about user experience.

This issue is about "Compare with..." button in web-interface header. In that case docs will be redundant, because of the button are exhaustive itself.

[2021-05-26 13:11] smelukov commented on #51
Hi. Sorry for the answer delay
Yep, I'm working on a huge improvement that'll make it possible to run statoscope as a CLI tool (and some secret features ;))

[2021-05-31 16:13] smelukov commented on #51
@SimulatedGREG done with it in v5 😄
Now you can:
`statoscope serve path/to/stats.json`

Also, you can **validate** your stats via CLI 🎉

Please, see [@statoscope/cli](https://github.com/statoscope/statoscope/blob/v5.0.0/packages/cli/README.md) for more info

[2021-05-31 16:13] #51 closed

[2021-05-31 16:21] smelukov commented on #51
Also note, that now you should use `@statoscope/webpack-plugin` package instead of `@statoscope/ui-webpack`

[2021-05-31 17:44] mrtheyann opened #65 "Broken links at statoscope.tech"
Yo, I was going to fix these links in the repo, but it looks like these markups are served directly from a server as an html document (or maybe I had not dive deep enough into monorepo to find them)

![image](https://user-images.githubusercontent.com/15281217/120226234-3ebaa380-c260-11eb-8b48-1dd9f219a23c.png)

Anyway, replace `ui-webpack` to `webpack-ui`. That will help to fix 404s for the most c

[2021-05-31 18:16] smelukov commented on #65
Thanks! Fixed

Yep, I'll move to this repo soon

[2021-05-31 18:16] #65 closed

[2021-06-01 09:39] smelukov opened #66 "Migrate to TS"

[2021-06-01 09:39] smelukov opened #67 "Tests"
Cover all the packages with tests

[2021-06-01 09:41] smelukov opened #68 "Decompose jora-queries and discovery-views at UI"
UI contains tons of jora-queries and discovery-views.
We need to decompose them to make them more flexible, reusable and testable

[2021-06-01 09:49] smelukov opened #69 "Rules for validation"
The suggestion is to implement eslint-like logic for CLI validator:

`$ statoscope validate stats.json`

CLI should find the nearest statoscope-config:

`statoscope.config.json`
[code]

[2021-06-01 15:39] SimulatedGREG commented on #51
Thank you so much @smelukov!

[2021-06-04 12:47] smelukov opened #70 "Make `output`-argument of CLI `generate`-command not required"
We need to make it possible `statoscope generate path/to/stats.json -o`
Just remove `required`-flag from `output`-argument

[2021-06-06 08:15] #66 closed

[2021-06-10 06:47] smelukov opened #73 "Pass context to `query`-method"
[code]

[2021-06-10 17:59] nickshevr opened #74 "Time as a measure"
Measuring file/bundle size changes in percent is not helpful (+20% can be +2B or +2MB). Measuring file size change in bytes may be not very intuitive to colleagues.

I started thinking about file size changes in **seconds**, using “Slow 3G” (376kbit/s)  as a baseline, and I kinda like it.

![image](https://user-images.githubusercontent.com/16756393/121573854-606d1500-ca2e-11eb-9c11-b8c827bd02b7.pn

[2021-06-10 18:00] nickshevr commented on #74
@smelukov how do u think what kind of entity should have this measure?
- initial chunks
- their dependencies
- compilation overall

[2021-06-11 00:43] cdaringe opened #75 "webpack plugin usage causes build to hang indefinitely"
# Problem

The following usage of the plugin, tapped into my next.js build causes my next.js' webpack build build to hang indefinitely.

[code]

## Discussion

I do not yet have a reproduction, but hopefully will be able to provide additional debugging information shortly.

[2021-06-11 19:34] cdaringe opened #76 "RFC: UX for tracing modules"
Excellent tool. Thanks for your work here.

# Problem

I have a module and I have an entrypoint, but it can be challenging to trace why that module is _in_ my entrypoint's content.

# Discussion

- the webpack analyse app has a little node graph that explains the tracing, but still doesn't necessarily make it easy to visualize the import graph

What would be super cool would be a mechanism, even i

[2021-06-12 08:47] smelukov commented on #75
Hi! Thanks for the issue ☺️
I'll deal with it ;)

[2021-06-12 15:09] smelukov commented on #76
Hi! Thanks! )
`Issuer Path` is that what you want?
Maybe entrpoint need to be added to issuer path list 🤔
<img src="https://user-images.githubusercontent.com/6654581/121780458-080e5280-cba9-11eb-9943-a02492e5e7a7.png" width="500">

[2021-06-13 00:17] smelukov opened #78 "Collect and show gzip-size for modules and assets"

[2021-06-22 07:05] cdaringe commented on #76
I'll have to check again, but I was left to believe that Issuer Path could include _all_ paths/edges for that module, not just those narrowed to the parent.

[2021-06-24 08:21] smelukov opened #79 "Add entrypoints reasons to chunks"
**Is your feature request related to a problem? Please describe.**
I want to know which entrypoints are used a chunk.

**Describe the solution you'd like**
Add entrypoints list into chunk reasons
![image](https://user-images.githubusercontent.com/6654581/123228519-ed17d880-d4ee-11eb-8f41-786891b12d14.png)

[2021-06-24 12:50] erichiller opened #80 "Webpack startup fails with `TypeError: StatoscopeWebpackPlugin is not a constructor`"
**Describe the bug**

When trying to run `webpack` with `@statoscope/webpack-plugin` installed, it fails saying:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add package with `yarn add -D @statoscope/webpack-plugin`
2. Add to `webpack.js` config:
[code]
and within `config.plugins`:
[code]
3. Run any `webpack build`, etc
4. See error (above)

**Versions**:
 - Statoscope: 5.2.0
 - W

[2021-06-24 12:55] smelukov commented on #80
Hello! Thanks for the issue.
Please try to import Statoscope like this:
[code]

Is it work?

[2021-06-24 16:27] #78 closed

[2021-06-24 16:32] #74 closed

[2021-06-24 21:39] erichiller commented on #80
That does work! Is that how I should be importing it then?

[2021-06-25 03:22] smelukov commented on #80
Yes. Also, I fixed usage example at readme.
Thanks again ☺️

[2021-06-25 03:22] #80 closed

[2021-06-30 15:48] smelukov commented on #75
@cdaringe please, try to update to 5.3.1
It is fixes the problem?

Also, you can remove `statsOptions` cause the default stats option has enough of data

[2021-06-30 18:32] cdaringe commented on #75
Thanks! I look forward to trying it out. I am out of the office for a week
but I’ll gladly check it out when I’m back

On Wed, Jun 30, 2021 at 9:48 AM Sergey Melyukov ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2021-07-02 10:05] #73 closed

[2021-07-03 20:00] budarin opened #84 "Statoscope plugin fails in childCompilation for workbox-webpack-plugin.InjectManifest"
**Describe the bug**
try to use statoscope for workbox-webpack-plugin.InjectManifest and it doesn't work
most of the problems in workbox-webpack-plugin.InjectManifest are related to plugin problems in childComplilation - maybe this also applies to the plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Add workbox-webpack-plugin.InjectManifest plugin into a webpack config

[code]
2. start

[2021-07-03 20:11] smelukov commented on #84
Hello.
I had tried to use this:
[code]
Then `npm run build`
And there is no problem. HTML report with two compilations was successfully generated.

![image](https://user-images.githubusercontent.com/6654581/124365896-e65a3580-dc53-11eb-987b-5a6e7f443fec.png)
![image](https://user-images.githubusercontent.com/6654581/124365906-f70aab80-dc53-11eb-9b8e-b058822c5124.png)

[2021-07-03 20:13] smelukov commented on #84
Please, ensure that child compilations are not hidden
![image](https://user-images.githubusercontent.com/6654581/124365942-523c9e00-dc54-11eb-9aab-63d2d62f4d7a.png)

[2021-07-03 20:30] budarin commented on #84
I'm sorry - I constantly forget about this option and this is not immediately visible in the report

[2021-07-03 20:30] #84 closed

[2021-07-03 21:02] smelukov commented on #84
@budarin Please note that Statoscope is 5.4.1 now ;)
Consider updating for more features (stats validation on CI, gzip-sizes, packages version) ☺️

[2021-07-04 00:14] budarin commented on #84
thanks !

[2021-07-06 13:32] avdotion opened #85 "Add an ability to generate only stats.json"
**Is your feature request related to a problem? Please describe.**
Add option to webpack plugin config to generate only JSON instead of JSON + HTML or HTML.

**Describe the solution you'd like**
[code]

[2021-07-07 12:39] avdotion opened #86 "Statoscope App Redesign"
This is a root issue about brand new design of Statoscope application.

[2021-07-07 12:43] avdotion commented on #86
Major flows:

1. Opening statoscope.tech, loading one or more stats files, navigating
2. Auto opening ui-report after build (locally stored)
3. Viewing saved interactive reports with title, description and more
4. Viewing linting results in graphical and interactive way

[2021-07-08 08:47] #85 closed

[2021-07-08 23:19] cdaringe commented on #76
Back! :) It would be helpful to have a mechanism that concisely explain the existence of a module of interest. Commonly, I find myself asking "why is this in my bundle" or "why is this in <some-chunk>".

If I click one of my many entrypoints, e.g. `pages/best-page`, then expand the modules tree as you have screenshotted above, the ability to filter to **only those reasons associated with the entry

[2021-07-09 06:46] smelukov commented on #76
Wow, thanks for so detailed comment 👍
I’ve got an idea.
I’m going to implement an MVP of solution and then show you ☺️

[2021-07-09 20:38] smelukov commented on #76
@cdaringe I've implemented an MVP to find all the paths between any module and entrypoint.
In this example, I'm trying to find all the possible ways from `node_modules/prettier/parser-babel.js` to `main` entrypoint.
Is that what you're expecting? ☺️

https://user-images.githubusercontent.com/6654581/125133254-421e3600-e10e-11eb-8821-96cda4ec68ed.mov

[2021-07-09 22:11] cdaringe commented on #76
That looks fantastic! Your workflow looks quite easy to use:

- Identify the module of interest,
- select the entry points tab,
- Study the tree structure with entrypoints as the tree root and consumers of the module under investigation as leaves.

 Yes!

[2021-07-09 22:15] smelukov commented on #76
Great! So, I'm going to make the code more production-ready and "shiny" and then publish )

[2021-07-12 15:36] amaxalov opened #88 "Remove autoupgrade dependencies in @statoscope/webpack-plugin"
**Describe the bug**
If the project is highly loaded, no one will update the main plugin every time, but its dependencies are constantly updated, which are incompatible with the main version.

**Screenshots**
![image](https://user-images.githubusercontent.com/15657131/125315706-6e24fb80-e348-11eb-849f-427a8be80cbf.png)

**Versions**:
 - Node (for non-browser bug): 14.10
 - Browser (for browser-bug

[2021-07-16 10:46] #76 closed

[2021-07-16 10:57] smelukov commented on #76
Published in v5.6

[2021-07-18 17:54] avdotion commented on #86
The layout is ready (we are not publishing it yet, we are discussing it with Sergey). It is UI Kit and major-flow-screens. After initial publishing the previous one will become deprecated, but you still can access it.

### The main provisions for the layout
* Use only the default system sans-serif font. In macOS, for example, it will be San Francisco. Perhaps the default font is not the best idea.

[2021-07-21 13:22] nickshevr commented on #37
@hikerpig Why do u want to analyze graph with thousand nodes with your eyes? It's really hard.

[2021-07-21 13:31] hikerpig commented on #37
I expect the graph will come with an input (and maybe also some checkboxes) to filter modules interactive as I type. I guess this will become quite a big feature, though.

[2021-07-23 06:13] lizryzhko opened #91 "Multiple stats doesn't work"
**Describe the bug**
If pass additional or multiple stats within StatoscopeWebpackPlugin or cli version, only one of the stats is available in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. run ```npx statoscope generate --input path/to/stats1.json path/to/stats2.json --output path/to/report.html```
2. try to choose stats in the report or show diff
3. see that only one of the stats

[2021-07-23 08:33] smelukov commented on #91
Thanks for the issue.
Are the input files have the same name (but in different directories)?
For example:

`statoscope generate --input dir1/stats.json dir2/stats.json --output path/to/report.html`

[2021-07-23 08:34] smelukov commented on #91
I've got this behavior only when the input files have the same filename 🤔

[2021-07-23 09:15] lizryzhko commented on #91
Nope, files have different names

[2021-07-23 09:22] smelukov commented on #91
Can you click the "Make report" button (on the top-right panel) please?
How many files do you see there?
It should be something like this
![image](https://user-images.githubusercontent.com/6654581/126762559-27651c06-d5e0-440a-b0d9-e62720fd413e.png)

[2021-07-23 09:31] lizryzhko commented on #91
There are 2 files as expected

[2021-07-23 10:23] smelukov commented on #91
So you should see the "Choose stats" button
![image](https://user-images.githubusercontent.com/6654581/126769251-b0fb4d02-a4f1-4c5c-ba1c-f2c661df5fe0.png)
and the two stats on the "Diff" page
![image](https://user-images.githubusercontent.com/6654581/126769327-de122e53-aa8b-47ba-9946-dfe0237492cb.png)

[2021-07-23 10:40] lizryzhko commented on #91
Nope, while there are two files on the "Make report" page, I can see only one when trying to choose stats:

![image](https://user-images.githubusercontent.com/28068023/126770506-db903129-bbda-4d09-b0a7-5eeda404eebe.png)
---
![image](https://user-images.githubusercontent.com/28068023/126770667-20cb8e88-03ce-42ea-a7f4-69d45e337fde.png)
---
![image](https://user-images.githubusercontent.com/28068023/

[2021-07-23 10:45] smelukov commented on #91
Wow :)
That's interesting

[2021-07-23 11:11] smelukov commented on #91
I think that I need your help to deal with it :)
Can you please insert this query into the `Make Report` page and send me the result?
`compilations.({hash})`

[2021-07-23 12:04] lizryzhko commented on #91
hmm...
![image](https://user-images.githubusercontent.com/28068023/126776921-358d3b9f-2c78-4ac5-883d-97151b0809fd.png)
After I added some changes to my project and ran statoscope, I could see two stats in the report 👍

[2021-07-23 12:11] smelukov commented on #91
I think I've got it - the problem appears when you have two same stats, with the same compilation hash
Compilation hash changes only when a bundle changes.
So I think that there must be two stats in the list with some warn message.
I'll fix it

Again, thanks for the issue )

[2021-07-27 13:42] lizryzhko opened #92 "Options to extend statoscope report"
**Is your feature request related to a problem? Please describe.**

Hi, I'm looking for a way to use the default statoscope report with additional data (not stats.json) and views.
As I see there are no options like that in the cli and webpack-ui. What do you think about adding this feature?

**Describe the solution you'd like**
I'd like to define a config for the cli and specify paths to stats.jso

[2021-07-27 15:02] smelukov commented on #92
Hi. Thanks for the issue.
Yep, this feature is in plan and will be implemented soon, after I done another cool feature that I’m working on :)

[2021-08-25 10:45] smelukov opened #95 "Add query-command to cli"
**Is your feature request related to a problem? Please describe.**

I want to use statoscope as
`statoscope query --query "compilations.name" --input ./foo.json`
or
`echo "compilations.name" | statoscope query --input ./foo.json`

**Describe the solution you'd like**
Add query-command to the CLI package

[2021-08-25 11:22] smelukov opened #96 "Add `create` command into cli"
**Is your feature request related to a problem? Please describe.**
I want to generate validator plugin, reporter, or rule very easy, e.g

- `statoscope create plugin`
- `statoscope create rule`
- `statoscope create reporter`
- `statoscope init` - create statoscope config

**Describe the solution you'd like**
Add `create` command to statoscope

[2021-08-25 11:47] smelukov opened #97 "Suggest analogs for restricted packages"
**Is your feature request related to a problem? Please describe.**
If some package is restricted to use, there is should be a possibility to specify some analogs

**Describe the solution you'd like**
Add `analog` and `description` fields to package target

[code]
or
[code]

[2021-08-31 09:51] smelukov opened #99 "Add `build-time` and `diff-build-time` rules"
**Is your feature request related to a problem? Please describe.**
Validate build time and compare validate time with a reference stats

**Describe the solution you'd like**
Add `build-time` and `diff-build-time` rules

[2021-08-31 15:23] smelukov opened #100 "Chose generation strategy (todo description)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-01 13:24] #69 closed

[2021-09-01 13:24] smelukov commented on #88
Now I use `exact: true` in lerna config

[2021-09-01 13:24] #88 closed

[2021-09-01 14:38] smelukov commented on #99
Resolved by v5.7

[2021-09-01 14:38] #99 closed

[2021-09-01 14:47] smelukov opened #101 "Reduce size of generated HTML-report"
**Is your feature request related to a problem? Please describe.**
If stats is too huge (4-5gb) then a browser can't handle it

**Describe the solution you'd like**
We need to figure out how to reduce the size of the report

[2021-09-08 00:58] cdaringe opened #102 "entrypoint view shows a module present, but module view does not show entrypoint"
**Describe the bug**

Greetings! In trying to diagnose an unexpected module, I wanted to use the feature landed in #89, so I:

- opened the entrypoint view
- observed a module that I did not expect, for example `use-delete-list-item.ts`. Below, you can observe the module present on the statoscope entrypoint page. Here's a screenshot from the entrypoint view of `pages/_app`, which is a next.js entr

[2021-09-08 01:05] #75 closed

[2021-09-08 11:17] smelukov commented on #102
@cdaringe Hi! Thank for the issue, I’ll investigate it ASAP ;)

[2021-09-08 11:20] smelukov commented on #102
@cdaringe Could you share your stats.json with me? ☺️

[2021-09-08 18:48] cdaringe commented on #102
Greetings, certainly. I apologize in advance for the large filesize.

[link to stats.json](https://drive.google.com/file/d/1NPLTUGbtEU_3nKRJsU2A62tm30tGQ48c/view?usp=sharing)

[2021-09-09 08:46] #102 closed

[2021-09-09 08:49] smelukov commented on #102
@cdaringe Many thanks for the issue, I fixed it in 5.7.2 🎉
The entry map has used an incorrect set of modules

[2021-09-10 04:08] cdaringe commented on #102
Excellent, thank you very much. Was surprised that you were able to address it without a solid repo. I felt bad for not having a working demo

[2021-09-13 17:27] smelukov commented on #102
@cdaringe hi! Is it work fine? ☺️

[2021-09-13 18:41] cdaringe commented on #102
Greetings!

1. Yes, the entrypoints are now symmetric--I see the entrypoint on both views (the entrypoint view showing the module, and the module view showing the entrypoint)
2. I am still seeing a module present in statoscope which is not bundled anywhere. I was hoping statoscope would help show me the mapping between module => entrypoint => asset, but currently it's just tells me what entrypoint

[2021-09-13 18:47] smelukov commented on #102
@cdaringe
1) glad to read that ☺️
2) I used to came across this behaviour of weboack, but really want to understand is it the same case or is it statoscope bug :)

[2021-09-14 17:14] smelukov opened #103 "Add list of available rules into `statoscope validate rules`"
**Is your feature request related to a problem? Please describe.**
I want to know what rules are available based in plugins in statoscope config

**Describe the solution you'd like**
[code]

`statoscope validate rules` should show a list with rules that @statosope/webpack plugin consumes

[2021-09-15 10:29] #101 closed

[2021-09-15 15:16] smelukov opened #105 "Trim context from modules names in webpack 4 stats"
**Is your feature request related to a problem? Please describe.**
Webpack 4 ignores stats.context for some modules and absolute modules path is used

**Describe the solution you'd like**
Remove context path from all the modules names on normalization

[2021-09-21 09:15] #105 closed

[2021-09-24 17:34] pivaszbs opened #109 "White screen with 0 configuration webpack plugin"
**Describe the bug**
Nothing is visible on the screen and errors in the console

**To Reproduce**
Steps to reproduce the behavior: idk, I just install webpack plugin w/o configuration :)

**Expected behavior**
Stats on the screen

**Screenshots**
![image](https://user-images.githubusercontent.com/26435684/134716540-f3d97dd7-ca19-467b-a0be-c52f1a6548b5.png)

**Versions**:
 - Node (for non-browser b

[2021-09-24 17:39] smelukov commented on #109
@pivaszbs please, provide some additional info:
webpack version
`stats` field from your webpack config
seems like you have webpack 5 and `all: true` in your stats config )

[2021-09-24 17:42] pivaszbs commented on #109
@smelukov webpack: 5
zero config as I said :)

[2021-09-24 17:44] smelukov commented on #109
Please, try to use plugin with this configuration:
[code]
Is it fix your problem?

[2021-09-24 17:53] pivaszbs commented on #109
Actually crashed with
    `TypeError: resolvedModule.chunks is not iterable at handleModule (<project_path>/node_modules/@statoscope/webpack-model/dist/normalizeCompilation.js:12:64) at handleChunk (<project_path>/node_modules/@statoscope/webpack-model/dist/normalizeCompilation.js:19:29) at handleCompilation (<project_path>/node_modules/@statoscope/webpack-model/dist/normalizeCompilation.js:36:9)

[2021-09-24 17:55] smelukov commented on #109
@pivaszbs thanks for the issue 🙏
It will be fixed in the near release

[2021-09-25 06:47] #92 closed

[2021-09-27 08:16] #109 closed

[2021-09-27 08:19] smelukov commented on #109
Fixed in v5.9

[2021-09-27 08:21] smelukov commented on #92
Release in v5.9
Please, see an [example](https://github.com/statoscope/statoscope/tree/master/packages/webpack-plugin#optionsreports-report) ☺️

[2021-09-27 13:13] ValeraS opened #113 "@statoscope/webpack-plugin does not work without statsOptions.context"
**Describe the bug**
if not specify statsOptions.context, webpack build fails with error:

**Expected behavior**
no error

**Versions**:
 - Webpack: 4
 - Statoscope: 5.9.0

@statoscope/webpack-plugin v5.8.0 works without error.

[2021-09-27 13:21] smelukov commented on #113
@ValeraS can't reproduce :(
Can you provide Statosope plugin config example?

[2021-09-27 13:30] smelukov commented on #113
@ValeraS fixes in 5.9.1
Thanks for the issue 🙏

[2021-09-27 13:45] #113 closed

[2021-09-28 08:27] KubaZ commented on #113
@smelukov issue was fixed in @statoscope/webpack-plugin@5.9.1, but from what i investigated, it should be fixed in @statoscope/webpack-stats-extension-package-info package. Because of that previous versions of @statoscope/webpack-plugin still doesn't work, for example issue still exists in @statoscope/webpack-plugin@5.6.2
[code]

[2021-09-28 08:34] smelukov commented on #113
@KubaZ thank 🙏  Fixed in 5.10.2

[2021-09-28 09:37] KubaZ commented on #113
Thanks @smelukov for lighting fast fix, `@statoscope/webpack-plugin@5.6.2` is working again ;)

[2021-09-28 11:28] smelukov commented on #113
@KubaZ btw, you could update all of statoscope packages that you use to latest versions 😁
There are some cool features (e.g. new stats validators and ability to pass any custom reports to the UI)

[2021-10-04 13:24] V-vltru opened #118 "webpack-ui package has a vulnerable highcharts 8.2.2 library"
Hello Team,

According to "statoscope/packages/webpack-ui/package.json" document, there is highcharts library version is set to "^8.0.0" (line 28).

The alert (https://security.netapp.com/advisory/ntap-20210622-0005/) requires to upgrade the version to 9.0.0

Could anybody please upgrade?

Thanks,
-Vladimir

[2021-10-04 18:06] smelukov commented on #118
Hi! Thanks for the issue. I'll deal with it

[2021-10-06 07:28] higimo opened #120 "Shown in readme how to generate stats.json"
now is riddle=)

[2021-10-06 08:27] yoadsn opened #121 "ReferenceError: regeneratorRuntime is not defined"
**Describe the bug**
Seems like local and sandbox both crash with the above error as soon as clicking anything within the report.
I guess there is a babel transpilation which forgot to include the regeneratorRuntime as a dpendency?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://statoscope.tech/`
2. Load a valid stats file
3. click any chunk name
4. See error

**Expected behav

[2021-10-06 08:33] higimo opened #122 "Invite to install plugins in console error"
I use cli `npx statoscope validate -i stats/stats-client.json` with clear config:
[code]

and see error:
Can't resolve @statoscope/webpack with prefixes [stats-validator-plugin,statoscope-stats-validator-plugin,@statoscope/stats-validator-plugin].Did you forget to install it?

mb print this error like:
[code]

[2021-10-06 09:46] smelukov commented on #121
Thanks for the issue 🙏
Fixed in 5.12

[2021-10-06 09:46] #121 closed

[2021-10-08 13:35] SkReD opened #123 "@statoscope/types package is empty"
**Describe the bug**
@statoscope/types package is empty and fail typescript compilation

**To Reproduce**
Steps to reproduce the behavior:
1. Import statoscope webpack plugin in .ts file
2. Try to compile it

**Expected behavior**
No errors

**Screenshots**
[code]

**Versions**:
 - Node: 14.17.0
 - Webpack: 5.57.1
 - Statoscope: 5.9.0

**Additional info**:
https://registry.npmjs.org/@statoscope/ty

[2021-10-08 14:10] smelukov commented on #123
Thanks for the issue!
Fixed in v5.12.1

[2021-10-08 16:57] ai opened #124 "Improve screeshot"
**Is your feature request related to a problem? Please describe.**

Promotion problem. Statoscope is a remarkable project, but the current screenshot in `README.md` doesn’t explain why it is so amazing.

The problem is that many developers can open Statoscope repo when they do not have time or resources to read and analyze text careful. This is why they will look at the screenshot and, without rea

[2021-10-09 15:25] ai commented on #37
I love to see this diagram for Size Limit too. It will allow to faster find the biggest file.

[2021-10-09 20:11] #118 closed

[2021-10-10 01:32] amalitsky commented on #97
Hi there! Have a few questions since this seems to be the only open issue marked as _good first issue_.
- I assume the issue is related to [_restricted-packages_](https://github.com/statoscope/statoscope/blob/master/packages/stats-validator-plugin-webpack/docs/rules/restricted-packages.md) rule of `stats-validator-plugin-webpack` package. Is it correct?
- what is the _package target_?
- it's not c

[2021-10-10 07:54] #70 closed

[2021-10-10 07:57] smelukov commented on #97
Hi! Thanks for your interest!

yep

Package target is a description of a package that we want to find and restrict its usage. For example:
[code]

This package target describes `lodash@<2`

Package targets should be described in the rule options in `statoscope.config.js`. For example:

[code]

Now, if Statoscope validator will meet `lodash@<2` or any `rxjs` then validation will be failed.

Analogs

[2021-10-11 07:28] SkReD opened #126 "Invalid import path from @statoscope/types"
**Describe the bug**
Invalid import path from `@statoscope/types`

**To Reproduce**
Steps to reproduce the behavior:
1. Import statoscope webpack plugin in .ts file
2. Try to compile it

**Expected behavior**
No errors

**Screenshots**
[code]

**Versions**:
 - Node: 14.17.0
 - Webpack: 5.57.1
 - Statoscope: 5.12.1

[2021-10-11 11:46] plesiecki opened #127 "@statoscope/webpack-plugin does not work without packageInfoExtension.get"
**Describe the bug**
 if not specify packageInfoExtension.get, webpack build fails with error:

**Expected behavior**

Expected behavior
no error

Versions:
    Webpack: 4
    Statoscope: 5.6.2

[2021-10-11 11:55] meisster opened #128 "packageInfoExtension.get is not a function error on older versions of statoscope"
**Describe the bug**
Build fails with error
[code]

**Expected behavior**
No error appears

**Versions**:
 - Node: 16.5.0:
 - Webpack: 4.43.0
 - Statoscope: `@statoscope/webpack-plugin: "5.6.2"`

**Additional context**
Everything works when plugins listed below are added to dependencies in explicit versions:
[code]

[2021-10-11 11:56] #128 closed, assigned to nobody

[2021-10-11 11:57] meisster commented on #128
Duplicate of https://github.com/statoscope/statoscope/issues/127

[2021-10-11 12:11] #126 closed, assigned to nobody

[2021-10-12 05:30] Saddage commented on #127
Yeah, you're right. I changed the version in package-lock, but it got overwritten anyway.

Now I'm on the latest version for sure and everything works fine. Thanks!

[2021-10-12 07:03] #127 closed

[2021-10-19 14:42] chrisands opened #132 "Support rules validation in webpack plugin"
**Is your feature request related to a problem? Please describe.**
It feels unnecessary to additionally install cli only to validate.

**Describe the solution you'd like**
Ability to pass `statoscope.config.js` to webpack plugin and get report warns and errors.

**Describe alternatives you've considered**
Installing cli and run validation only in CI

[2021-10-20 21:23] smelukov commented on #132
If you validate your stats on CI then you install Statoscoope CLI anyway. Don't you?

[2021-10-27 09:16] smelukov opened #136 "Statoscope Github Action"
**Is your feature request related to a problem? Please describe.**

We need some Github Action for Statoscope routines (exec `validate` or `generate` for generating report, or `query` for changing PR description or adding PR comments)

[2021-10-28 08:24] smelukov opened #138 "Add rule no-unstable-packages"
**Is your feature request related to a problem? Please describe.**
Add a rule that fails when unstable package is used (e.g `foo@1.0.0-alpha`)

[2021-11-01 20:42] #122 closed

[2021-11-08 23:54] gabrielcsapo opened #140 "[bug] `Show compressed size` does not affect module sizes"
**Describe the bug**

When using `Show compressed size` it does not alter the module sizes which causes confusion when trying to find what is contributing to the uncompressed size.

<img width="1267" alt="Screen Shot 2021-11-08 at 3 50 56 PM" src="https://user-images.githubusercontent.com/1854811/140836412-a0b592d8-773c-47b9-8c7b-a5b2922c8f75.png">

**To Reproduce**
Steps to reproduce the behavior

[2021-11-09 05:52] smelukov commented on #140
I've checked that size of modules changes correctly depending on `Show compressed size` checkbox. Can't reproduce your bug (

The total size of a bundle is the total size of all its assets, not modules.

[2021-11-09 16:42] gabrielcsapo commented on #140
Ahh okay, that makes sense.

I guess my confusion is trying to figure out what asset is causing it to balloon to 17mb. When I try to expand assets I get the same file over and over again.

![Screen Shot 2021-11-09 at 8 41 07 AM](https://user-images.githubusercontent.com/1854811/140966631-40f6d4e3-1d22-403b-aed8-2c49db355d63.png)

[2021-11-09 18:18] smelukov commented on #140
You can click on main chunk to see module map. It will help you to figure out why your bundle so huge

[2021-11-17 18:03] smelukov commented on #140
@gabrielcsapo can we close the issue? )

[2021-11-17 18:23] #140 closed

[2021-11-17 18:23] gabrielcsapo commented on #140
Closing! Thanks @smelukov

[2021-11-19 13:56] Semigradsky opened #141 "Show package versions"
It would be useful to see package versions. For example, if I have package copies as on the screenshot than it will be easy to understand why I have these copies.

![image](https://user-images.githubusercontent.com/1198848/142633655-a52a9574-8504-4260-88c8-d2d66370c510.png)

[2021-11-19 14:01] Semigradsky opened #142 "Page doesn't scroll to top after transitioning to a new page"
**Describe the bug**
Page doesn't scroll to top after transitioning to a new page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'packages' tab
2. Scroll down to the bottom of the page
3. Click on any package
4. See white blank page. User needed to scroll to top

**Expected behavior**
New page opens scrolled on top

**Screenshots**
Step 2:
![image](https://user-images.githubuserconten

[2021-11-19 14:04] smelukov commented on #141
Hello
It already shows package versions.
Are you using webpack plugin to generate a report?

![image](https://user-images.githubusercontent.com/6654581/142635168-56da7ad3-0372-4114-a1ae-e0b5dcba866f.png)

[2021-11-19 15:35] Semigradsky commented on #141
No, I just uploaded json to https://statoscope.tech/

[2021-11-19 15:38] smelukov commented on #141
Default webpack stats doesn't supply packages version. Please, use [@statoscope/webpack-plugin](https://github.com/statoscope/statoscope/tree/master/packages/webpack-plugin), it collects more useful data (including packages version)

[2021-11-19 15:49] Semigradsky commented on #141
Oh, thank you. I don't know that the example of use from https://statoscope.tech/ page has any limitations. Maybe describe on that page and on README that `webpack-plugin` gives more useful data?

[2021-11-19 15:49] #141 closed

[2021-11-19 15:55] smelukov commented on #141
There is a demo stats with full of data
But I think I'll add some note about default webpack a stats. Thanks

![image](https://user-images.githubusercontent.com/6654581/142652249-336dd86b-df76-4885-8911-e866540f1395.jpeg)

[2021-11-25 11:43] chrisands opened #143 "webpack 5 with recommended stats doesn't work correctly"
**Describe the bug**
When I use recommended stats settings in webpack-plugin I get errors on report screen.

**To Reproduce**
- Add recommended stats to webpack plugin:
[code]
- Build statoscope report
- Get errors

**Expected behavior**
I get the same stats as in webpack@4.

**Screenshots**
![photo_2021-11-25 14 25 17](https://user-images.githubusercontent.com/12214583/143433571-7e88be45-f8aa-466

[2021-11-25 17:10] #96 closed

[2021-11-28 21:18] meshulam commented on #143
I ran into this and was able to fix it by adding `ids: true` to the stats config: https://webpack.js.org/configuration/stats/#statsids

This setting populates the `entrypoints[].chunks` field with an array of chunk IDs.

[2021-11-29 11:07] smelukov commented on #143
@meshulam Thank you for investigated this issue 🙏
I'll update readme

[2021-11-29 11:07] #143 closed

[2021-11-30 23:00] chrisands commented on #143
Hmm... Adding `ids` helped to resolve the issue tho stats doesn't seem valid, because all modules seem to disappear. Adding `module: true` helps to return modules number but it seems too big and the size of entrypoints, total and initial size disappear 🤔

[2021-12-01 04:22] meshulam commented on #143
I gave up on tweaking webpack's ridiculous number of stats options and just used the `stats: 'normal'` preset. Might be best to recommend a preset in the docs, especially if the specific required options are different across webpack versions.

[2021-12-06 11:43] loshchini opened #145 "Statoscope doesn't provide package versions with ModuleFederationPlugin"
**Describe the bug**
Statoscope report doesn't provide package versions when ModuleFederationPlugin is added to config and its `shared` option is specified.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the [repo](https://github.com/loshchini/statoscope-module-federation-example)
2. Run `npm run build`
3. Open `./dist/build_info/statoscopeReport.html`
4. For example `antd` has no ver

[2021-12-06 14:54] smelukov commented on #145
@loshchini Thanks! I think I know how to fix it. Will be fixed soon

[2021-12-07 13:20] chrisands opened #146 "Diff chunks/assets/entrypoints between compilations"
Compilation diff is great, but when trying to explore why main chunk became bigger there is no right tool.
For example:
I can see that main chunk in the previous compilation was 500kb and had 1000 modules. In the new compilation, main chunk is 550kb and has 1300 modules.
In this example, I want to compare in a more detailed way, like comparing which modules were added or removed.

[2021-12-12 16:30] smelukov commented on #145
Fixed in v5.19.1

[2021-12-12 21:44] loshchini commented on #145
Thanks!

[2021-12-17 07:09] smelukov commented on #146
It works for chunks
![image](https://user-images.githubusercontent.com/6654581/146503913-b6e3986b-fa5b-4968-af8a-c71b9f9c318f.png)

But yep, we steel need to implements this for entrypoints and assets

[2021-12-23 21:36] fapspirit opened #148 "Support for vite/esbuild/rollup"
I would like to use this amazing tool in new project based on vite (which uses esbuild and rollup under the hood), but seems there is no way to do it at this moment. Are there any plans to integrate other tools besides webpack?

[2021-12-26 09:33] smelukov commented on #148
Hi! Yep, support other bundles is one of the main goals for the nearest time. Work in progress here ;)

[2022-01-11 12:11] loshchini commented on #145
Hi!
In my example repo I bumped statoscope versions to 5.19.1 and for some packages versions still not detected.
For example `object-assign`

<img width="1657" alt="Screenshot 2022-01-11 at 15 01 36" src="https://user-images.githubusercontent.com/43792013/148939784-f2413d40-8673-4e0a-8d48-1260c2d5fe6a.png">

Sorry, should i create a new issue or we can discuss it and solve it right here?

[2022-01-11 13:26] smelukov commented on #145
Hi. It's ok to discuss this problem here. I'll see how can I fix it
Thanks

[2022-01-11 13:55] loshchini commented on #145
Thanks 🙏

[2022-01-11 20:02] smelukov commented on #145
@loshchini Fixed in 5.19.3

[2022-01-11 20:02] #145 closed

[2022-01-12 09:47] loshchini commented on #145
It wotks! Thank you :)

[2022-01-13 08:45] loshchini opened #149 "Invalid package name in stat.json when part of name is equal current workdir"
To Reproduce
Steps to reproduce the behavior:

1. Clone the [repo](https://github.com/loshchini/statoscope-module-federation-example)
2. Build image `docker build . -t bug-repro`
3. Run container `docker run bug-repro`
3. Clone `webpack/dist/build_info/stats.json` from container
4. In stats.json find `@statoscope.-stats-extension-compressed`. As we can see, part of the package name which equal to

[2022-01-31 04:16] amalitsky commented on #132
If I understand correctly, as of now `webpack-plugin` is meant to be used during the third party application build to create statoscope report next to `stats.json` file. Basically it's a report of some sort. Is it right?

Now, if the above is correct, let's assume that statoscope validation (not currently there, but is suggested above) performed by `webpack-plugin` fails for some reason - is plugi

[2022-02-01 04:12] NickBolles opened #154 "Load JSON files to diff from URL"
**Is your feature request related to a problem? Please describe.**
We store our bundle stats into artifactory for every jenkins build. Currently we download the stats we want to compare to (Develop stats) and then build a statoscope report with `{ additionalStats: [developStatsFileName] }`. This makes the built report fairly large, with redundant data when we could just download the data when we l

[2022-02-01 13:53] smelukov commented on #154
Thanks for the issue! I think I know what's wrong...
Statoscope webpack plugin already normalizes the main stats to reduce its size, but not additional stats (I think I've just forgot to normalize them 😄)

I'm going to fix it in a couple of days. But if you wouldn't wait for it, just use Staroscope webpack plugin to save stats (with `saveStatsTo`-option) and then [Statoscope CLI](https://www.npmjs

[2022-02-01 13:59] smelukov commented on #154
Also, look at [normalizeStats](https://github.com/statoscope/statoscope/blob/master/packages/webpack-plugin/README.md#optionsnormalizestats-boolean)-option. It helps to reduce your stats.json (when enabled)

[2022-02-04 15:34] NickBolles commented on #154
thanks for the response @smelukov, normalizeStats will help reduce it, but I was thinking we'd keep the full stats. What I'm proposing is something like this.

In the report writer initialization ([here](https://github.com/statoscope/statoscope/blob/master/packages/report-writer/src/index.ts#L190-L194)), create a "pointer" entry that would be passed down to the Statoscope widget.

Then instead of

[2022-02-08 16:38] smelukov commented on #154
@NickBolles wow, thanks for your proposal
Yep, it will be nice to have the possibility to choose stats source (builtin in HTML or external JSON)
I'll deal with it

[2022-02-08 22:56] tony commented on #120
Uh oh!  I don't get any output files when adding `StatoscopeWebpackPlugin()`, regardless of the options passed and having the right `stats` declared.  Are there any diagnostic messages that the plugin has to indicate it starting up, is about to save a stats file, etc?  I may be able to file a proper issue (or document what I did wrong so it can help someone)

`webpack@5.62.0`, `@statoscope/webpack

[2022-02-09 11:16] smelukov commented on #120
@tony by default, if no options are specified, StatoscopeWebpackPlugin saves the HTML report into a temporary directory and opens it in your browser after the bundle is ready.
If you need to save the report into a specific directory, you could use `saveReportTo`-option
Also, if you need to save stats.json separately, you could use `saveStatsTo`-option

[2022-02-09 12:45] tony commented on #120
@smelukov I wonder if the reason it's not launching a browser is I'm in WSL 2.

Is there a default file location where the browser usually opens? Does it print the URL to the console in case the browser doesn't open?

[2022-02-09 16:43] smelukov commented on #120
It does not print output file path for now. But I'll add it.
For now you could specify saveReportTo: 'report.html' to save the report into current directory

[2022-02-15 01:22] cdaringe opened #155 "RFC: Clarify numeric values as they relate to webpack compilation"
**Is your feature request related to a problem? Please describe.**

When studying a report from statoscope, sometimes I am unclear if the module under study:

- is reporting size values after is has been tree shaken
- is reporting size values after is has been thru my terser/minification
- if size values associated with modules are from the source, or from the impact of the imported module
  - exa

[2022-02-15 20:13] onigoetz opened #156 "Add a way to specify custom reports in the CLI with multiple inputs"
**Is your feature request related to a problem? Please describe.**
I'm trying to use the CLI with many stats file (Generated through @vercel/ncc) and have a custom report that goes through the data of all modules.
It's possible to create a report using the "Make Report" UI, but not to add it to a configuration file.

**Describe the solution you'd like**
* Add a way to define reports in the `statos

[2022-02-21 23:50] cdaringe commented on #155
What i'm after is specifically:

https://github.com/webpack-contrib/webpack-bundle-analyzer/tree/e5b617e44df299e7ad4f7dc1bb1cac41e204648c#size-definitions

It looks like it's showing `stat` | `gzip`, but it would be awesome to show `parsed`!

[2022-03-09 11:21] smelukov commented on #156
@onigoetz I would like to suggest you a temporary workaround:
- call `statoscope inject-report` for some stats file
- call `statoscope generate` for all the files

For example, imagine that you have a few stats file from @vercel/ncc in a `stats` directory.

[code]

[2022-03-10 19:19] SimulatedGREG opened #158 "Web App fails to boot: Unable to handle `null` values in `<chunk>.files` Array"
**Describe the bug**
I'm not sure what causes our Stats output to create a `null` value in a `chunk`'s `files` array, but the parsing logic around this breaks the entire web application.

Here's what our stats output looks like...
![image](https://user-images.githubusercontent.com/8327811/157736294-af5bbd34-cce8-4ed2-9205-0ef8e2ddc507.png)

And here's the error we get when trying to load it...
![i

[2022-03-30 07:27] Dema opened #162 "Sort by file size all entries in trees (entrypoints modules, chunks)"
**Is your feature request related to a problem? Please describe.**
It's hard to look through thousands of modules and other entries in the search of most impactful stuff that can be lazy loaded or split.

**Describe the solution you'd like**
Add toggle to allow to sort by file size in descending order.

[2022-05-06 22:46] gajus commented on #148
Has there been any progress on this?

[2022-05-28 19:05] smelukov commented on #148
Sorry for delay
I'm working on totally statoscope refactoring.
It well support webpack, esbuild, rollup and vite bundlers

[2022-06-02 08:16] vankop opened #166 "original source view"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
sometimes issue is a result of loaders run, e.g. missing some imports after loaders run. So it will be easier to debug using statoscope when `stats.source=true`
**Describe the solution you'd like**
add some source view

**Describe alternati

[2022-06-20 07:10] jeetiss opened #167 "Graph improvement"
It's a little bit hard to understand relations between module and chunk and webpack entry with the current graph because it groups the modules only to the folder.

This is the example and I don't understand is it one chunk per entry or three

<img width="1435" alt="Снимок экрана 2022-06-20 в 09 59 31" src="https://user-images.githubusercontent.com/6726016/174544070-78bc56b8-9511-4ffb-9b28-855a7f47

[2022-06-24 16:22] hyshka opened #168 "Chunks which are not used in an entry point are appearing in the Assets list for it and are being included in the entry-download-size-limits validation"
**Describe the bug**
I recently added the Statoscope CLI to my project to perform validation in bundle sizes. It's awesome and I am enjoying the tool, however, upon optimizing some of my entry points I noticed weird behavior.

When changing imports to dynamic imports within one entry point, the module I'm importing gets added to the list of Assets for every other entry point which doesn't use or i

[2022-07-03 10:39] smelukov commented on #168
@hyshka Hello! Would you provide some stats-file (obviously without source code) that reproduces this behaviour? :)
I can't reproduce this with the steps you specified :(

[2022-07-06 13:24] hyshka commented on #168
@smelukov For that entry, it would be:
[code]

[2022-07-06 14:05] smelukov commented on #168
@hyshka Could you try 5.22.1-alpha.0 please?
If it'll fix your issue then I'll publish a stable version

[2022-07-06 14:34] hyshka commented on #168
@smelukov Thank you! I just tested it and my issue with the runtime chunks children is fixed :heavy_check_mark:. However, it is still only a partial fix for me. I found now that another chunk, which is used within many modules, appears to be having its children pulled in as well. Here's an example:

These chunks in the Statocope report are incorrect:
![image](https://user-images.githubusercontent.

[2022-07-06 22:54] smelukov commented on #168
@hyshka Could you try 5.22.1-alpha.1 ? :)

[2022-07-07 15:56] smelukov commented on #168
Which assets exactly included into html on tableview? )

[2022-07-07 16:04] hyshka commented on #168
The `tableview` would contain:
[code]

This is another page where we use multiple entry points so in the HTML we would also include these although Webpack is not aware.
[code]

[2022-07-08 19:35] smelukov commented on #168
Working on it )

[2022-07-08 21:29] smelukov commented on #168
@hyshka how about 5.22.1-alpha.3 ? 😄

**onboarding_startguide**
![image](https://user-images.githubusercontent.com/6654581/178072682-57d86586-a363-4783-8dde-93f0c65caa0a.png)

**tableview**
![image](https://user-images.githubusercontent.com/6654581/178072742-caacd984-f0cc-405f-bee4-45365fb6d996.png)

[2022-07-10 10:41] smelukov commented on #158
Solved in 5.22 ☺️

[2022-07-10 10:41] #158 closed

[2022-07-11 19:52] smelukov commented on #168
@hyshka
For example, let's look at the origins of chunk with id 144
`compilations.chunks.[id=144].origins`

![image](https://user-images.githubusercontent.com/6654581/178345695-e174168b-1fe2-4ba3-94cf-417b85c01c6e.png)
This module from `styleguide`-entrypoint
So, `styleguide`-entrypoint requires chunk with id 144. Chunk 144 is initial and contains `node_modules/vue/dist/vue.runtime.esm.js`

Note t

[2022-07-11 19:54] smelukov commented on #168
[code]

If webpack does not include chunk 144 into your page as initial then it's strange.
Either webpack has a bug with chunk including or stats generation :)

[2022-07-11 22:15] hyshka commented on #168
@smelukov Thanks for taking a look at that, this covers everything within Statoscope for me than! Thanks so much for your help in resolving this, it is really appreciated. I am really enjoying Statoscope.

Both of my modules where this chunk is used load it async, so it seems like Webpack should not be marking chunk 144 as initial. I can confirm that chunk 144 is not loaded except for the pages wh

[2022-07-12 05:53] smelukov commented on #168
@hyshka Thanks for your issue and for your help. It made Statoscope better ☺️
I'm going to publish a stable version with chunk relations fix

[2022-07-12 13:35] #168 closed

[2022-07-13 17:47] Aghassi commented on #143
Even if the README is updated, the UI should let a user know that they may have to reconfigure their stats. I was very confused to find that I had no output even though this plugin worked correctly. Come to find I had to tweak my stats (which I had already tweaked for various reasons)

[2022-09-07 16:08] thanhlmm commented on #167
Agree with this idea. Must be more easy to debug & improve

[2022-10-05 17:35] bogdanb commented on #162
I  don’t even need a toggle (though it would be nice) sorting by size should be the default. That’s why I’m using the tool, to find the biggest things in my entry-points that shouldn‘t be there.

[2022-10-05 17:42] bogdanb commented on #162
Also, sorry, I know this is unrelated, but why in the world would you use a shadow root to contain 99% of the elements on that page?! It makes it basically impossible to sort stuff using the browser console.

[2022-10-25 01:44] icy0307 commented on #146
Thanks for the great repo!I got the same problem of not showing the diff of the chunks.

[2022-11-16 18:40] smelukov opened #190 "Support custom helpers in `statoscope query`"
**Is your feature request related to a problem? Please describe.**
Want to use custom helpers in `statoscope query`

**Describe the solution you'd like**
`statoscope query -h ./path/to/helpers.js`